//* #0053A0 blue, #990000 red, #666666 gray*//
#logo {  width: 5%;
         height: 5%;
         height: auto; 
         width: auto;
         max-width: 100px; 
         max-height: 100px;
         float:left;
}
#title{ font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size:25px;
        font-weight:bold;
        text-align:left;
        display:inline-block;
        position: relative;
        float:left;
}
