/* #0053A0 blue, #990000 red, #666666 gray*/
#logo {width: 75px;
        float:left;
   
        
}

#title{ font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-size:25px;
        font-weight:bold;
        text-align:left;
        display:inline-block;
        position: relative;
        margin:40px 0px 40px 15px;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #333333;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  
/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; }
  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: #c80032;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color: #af002c; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px #fff;
      border-right: solid 10px transparent; }

nav {
  margin-bottom: 30px; }

nav#nav-main {
  background-color: #c80032;
  padding: 10px 0; }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px #950025;
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-main a:hover {
      background-color: #af002c;
      color: #fff; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #c80032; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px #950025; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    display: block;
    color: white;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: #af002c;
      color: #fff; }

/* =Sections
-------------------------------------------------------------- */
section h1 {
  margin-bottom: 10px; }

section p {
  margin-bottom: 30px; }
  section p:last-child {
    margin-bottom: 0; }

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; } }
  
  
  
  
#contactpara {position: absolute;
                left: 8%;
                top: 25%;
}
#myPhoto{position:absolute;
         top:250px;
         left:25%;
         right:25%;
         width:50%;
         
         
}
#slideshow{background-color:#gray;
           width:100%;
}




.body {height: 100%;
       	font-family: Georgia,Times,'Times New Roman',serif; 
}
img.slideshow {
  position: absolute;
  transition: opacity .5s ease-in;
  top: 250px;
  width:900px;
  height:290px;
  left:80px;

}

img.slideshow + img.slideshow {
  opacity: 0;
}

#map{top:100px;
     left:50px;
     position:relative;
     width:40%;
     float:left;
     height:2500px;
}

#content {
        position: relative;
        top: 100px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px;  
       
}

#form{position:relative;
      left:-100px;
      float:right;
      top:25px;
}
h2{color:#990000;
   position:relative;
   top:75px;
   text-align:center;

}
.mission{color:#0053A0;
         font-family:  "Copperplate", "Copperplate Gothic Light","Balthazar-Regular" sans-serif;
         font-weight:bold;
         text-align:center;

}

#google_translate_element {position: absolute;
                           top: 50px;
                           right: 95px;
                           }
#aheading {position:relative;
    top:75px;
    text-align:center;
}

           }
#automotive {  position: relative;
        top: 100px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px;  }
#ccompcontent {
        margin: 70px;
        padding-top: 30px;
}
#ccompimage {
        clear: right;
}
#bnft{position:relative;
     top:100px;
     width:270px;
     margin-left:30px;
}
.automotive { position: absolute;
               
               
}
#automotive {  position: relative;
        top: 100px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px; 
}
                
body {background-color: white;
	margin-left: 72px;
	margin-right: 72px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#bigbox {
	background-color: #FFF;
	height: auto;
	width: 1000px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}
#main {
	background-color: #FFFFFF;
	margin-right: 10px;
	margin-left: 10px;
	background-position: center center;
	
}
#collage{position:relative;
	 left:700px;
	 margin-left:30px;
	 width:400px;
	 top:-530px;
	 
}
#pck{width:400px;
     height:250px;
     
}     
#pqt{width:350px;
     position:relative;
     left:325px;
     top:-200px;
     
}
h3{color:#0053A0;

}
#paquete li{padding:1em 0;
 	    font-weight:bold;
 	    font-size:18px;
}
#stock{color:#CC0000;
       text-decoration:none;
}
table tr td figure{display:inline-block;
}
#f {
	display: block;
	
	margin-top: 700px;
	background-color: red;
	height: 40px;
	margin-left: -72px;
	margin-right: -100px;
}
#fp{
	color: white;
}
#auto {position: relative;
        top:120px;
        right:140px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px; 
} 
#autoh {position: relative;
        top: 500px;
        left: 100px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px; 
}
#auto2 { position: relative;
        top: 450px;
        left: 100px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px;
}
#autoimage {position: relative;
        bottom:152px;
        left: 275px;
        margin-left: 8%;
        margin-right: 8%;
        padding-bottom:60px;


