/*Tips: 
	Use http://www.dirtymarkup.com/ to help clean code after editing. 
	Use https://validator.w3.org/#validate_by_input to validate HTML.
	Use https://jigsaw.w3.org/css-validator/#validate_by_input+with_options to validate CSS.
		(Make sure you go to More Options, and then pick CSS3. Note that vendor 
         extensions will be marked as incorrect. Do not remove them. )
    Use the application Pixie to find colors on the page, and use december.com to find new shades of colors.
*/
#injmold {
    position: relative;
    margin-left: 72px;
    margin-right: 72px;
    text-align: center;
    top: 100px;
}
/*MEDIA QUERY*/
@media only screen and (max-width : 950px) {
	/* Width change when vertical nav pops up*/
	
}

h1 {
	margin: -20px;
	color: #fff;
/*white*/
	font-family: 'Phosphate Pro',serif;
	text-align: center;
	background-color: #a30000;
/*red*/
	clear: right;
}

#logo1 {
	width: 175px;
	position: absolute;
	left: -5px;
	z-index: 200;
}

/*-- NAV BAR*****************************************************************
/****************************************************************************
/****************************************************************************
/****************************************************************************
/*****NAV BAR --*/
#nav {
	width: 65%;
	font-family: 'Open Sans',sans-serif;
	font-weight: 100;
	position: relative;
	top: 0;
	left: 0;
	z-index: 11;
	float: right;
	display: inline;
	padding: 0;
}

#nav > a {
	display: none;
	text-decoration: none;
}

#nav li {
	position: relative;
}

#nav li a {
	color: #0053A0;
/*Blue*/
	display: block;
	text-decoration: none;
}

#nav li a:active {
	background-color: #fff !important;
/*white*/
}

#nav span:after {
	width: 0;
	height: 0;
	border: .313em solid transparent;
/* 5 */
	border-bottom: none;
	border-top-color: #a30000;
/*red*/
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: 0;
/* 5 */
}

/* first level */
#nav > ul > .clearfix {
	margin: 0;
}

#nav > ul {
	height: 3.75em;
/* 60 */
	list-style-type: none;
	background-color: #FFF;
	margin: 0;
}

#nav > ul > li {
	width: 16.66%;
	height: 100%;
	float: left;
}

#nav > ul > li > #logo {
	width: 30px;
}

#nav > ul > li > a {
	height: 100%;
	font-size: 1em;
/* 24 */
	line-height: 3.5em;
/* 60 (24) */
	text-align: center;
}

/* BORDER ON NAV BAR */
#nav > ul > li:not( :last-child ) > a {
	border-right: 1px solid #0053A0;
/*Blue*/
}

#nav > ul > li:hover > a,/*HOVER*/	#nav > ul:not( :hover ) > li.active > a {
	background-color: #0053A0;
/*Blue*/
	color: #F3F5F6;
/* Light Grey */
}

/* second level */
#nav li ul {
	background-color: #F3F5F6;
/*white*/
	display: none;
	position: absolute;
	top: 100%;
	list-style-type: none;
	z-index: 10;
}

#nav li:hover ul {
	display: block;
	left: 0;
	right: 0;
}

#nav li:not( :first-child ):hover ul {
	left: -1px;
}

#nav li ul a {
	font-size: .75em;
/* 20 */
	padding: .75em;
/* 15 (20) */
}

#nav li ul li a:hover,#nav li ul:not( :hover ) li.active a {
	background-color: #0053A0;
/*Blue*/
	color: #fff;
/* White */
}

/* 1000 */
@media only screen and ( max-width: 64.5em ) {
	#nav {
		width: 85%;
		position: static;
		margin: 0;
		float: right;
	}
}

/* 640 */
@media only screen and ( max-width: 60em ) {
	html {
		font-size: 100%;
	}

	#nav {
		position: relative;
		top: auto;
		left: auto;
	}

	#nav > a {
		width: 60px;
		height: 3.125em;
	/* 50 */
		text-align: left;
		text-indent: -9999px;
		background-color: #3a3a3a;
	/*dark grey*/
		position: relative;
		text-decoration: none;
	}

	#nav > a:before,#nav > a:after {
		position: absolute;
		border: 2px solid #fff;
	/*white*/
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}

	#nav > a:after {
		top: 60%;
	}

	#nav:not( :target ) > a:first-of-type,#nav:target > a:last-of-type {
		display: block;
		float: right;
	}

	/* first level */
	#nav > ul {
		height: auto;
		display: none;
		position: absolute;
		left: 0;
		right: 0;
	}

	#nav:target > ul {
		display: block;
	}

	#nav > ul > li {
		width: 100%;
		float: none;
	}

	#nav > ul > li > a {
		height: auto;
		text-align: left;
		padding: 0 .833em;
	/* 20 (24) */
	}

	#nav > ul > li:not( :last-child ) > a {
		border-right: none;
		border-bottom: 1px solid #cc470d;
	}

	/* second level */
	#nav li ul {
		position: static;
		padding: 1.25em;
	/* 20 */
		padding-top: 0;
	}
}

ul,menu,dir {
	display: block;
	list-style-type: disc;
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
}
body {
/*default styles for the web page*/
    background-color: #fff;
    height: 100%;
    margin: 0;
    font-family: Georgia,Times,'Times New Roman',serif;
    font-size: 18px;
    max-width: 100%;
}

h2 {
/*the red headings at the tops of pages, default for the <h2> tag*/
    color: #900;
    position: relative;
    top: 75px;
    text-align: center;
    font-size: 36px;
}

h3 {
/*The blue headings at any point in the web page, default for the <h3> tag*/
    color: #0053A0;
    font-size: 24px;
}

a.link {
/* red links, the preferred style of link in the pages. Use <a class="link" to apply */
    color: #A80008;
    text-decoration: underline;
}

footer {
/*styles the footer at the bottom of the pages*/
    text-align: center;
    background-color: #036;
    color: #E8E8E8;
    padding-top: 3px;
    padding-bottom: 3px;
}

footer.right {
/* If the last item on the page is styled with float:right, add <footer class="right"> */
    clear: right;
    margin-top: -200px;
}

footer.left {
/* If the last item on the page is styled with float:left, add <footer class="left"> */
    clear: left;
    margin-top: -200px;
}

/*Styles for index.html*/
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:1260px;
    margin:0; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:100%;height:27em;/* Must be the same size as the slider images */
    border-radius:3px;
    top: 110px;
}

#slider {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:100%;
    height:auto;
    padding:10px 0;/* 10px will increase the height.*/
    left:0px;
    bottom:0px;top:auto;
    overflow:hidden;
    font: bold 14px/20px Arial;
    color:#EEE;
    text-align:center;
    background:rgba(0,0,0,0.3);
}
#slider .mc-caption a {
    color:#FB0;
}
#slider .mc-caption a:hover {
    color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    top:320px;
    text-align:center;
    background:none;
    position:relative;
    z-index:3;
}

/* each bullet */
#slider .navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {background-position:0 -11px;}


/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}


div#acrostic {
/* Dependable, Professional, Creative container*/
    position: relative;
    top: 580px;
    font-size: 30px;
    background-color: #fff;
}

div#acrostic li {
/*Deletes the bullet points on Acrostic*/
    list-style-type: none;
}

.d {
/*D in Dependable*/
    margin-left: 0;
    max-width: 10%;
}

.d::first-letter {
/*D in Dependable*/
    color: #900;
    font-size: 40px;
}

.p {
/* P in Professional*/
    margin-left: 10%;
    max-width: 10%;
}

.p::first-letter {
/* P in Professional*/
    color: #900;
    font-size: 40px;
}

.c {
/*C in Creative*/
    margin-left: 20%;
    max-width: 10%;
}

.c::first-letter {
/*C in Creative*/
    color: #900;
    font-size: 40px;
}

div#positive {
/*Paragraph next to the acrostic*/
    position: relative;
    top: 400px;
    float: right;
    width: 650px;
    max-width: 60%;
}

#graybox {
/*The gray text area on the home page.*/
    height: 100px;
    width: 100%;
    position: absolute;
    clear: left;
    background-color: #dfdfdf;
    padding-bottom: 80px;
    top: 800px;
}

#grayboxtext {
/*Adds the left and right margin on text inside the gray box.*/
    margin-left: 36px;
    margin-right: 36px;
}

#grayhalf {
/*Creates the gray rounded edge on the gray box*/
    height: 45px;
    border-radius: 0 0 90px 90px;
    -moz-border-radius: 0 0 90px 90px;
/*Vendor extension-even when validating do not delete*/
    -webkit-border-radius: 0 0 90px 90px;
/*Vendor extension-even when validating do not delete*/
    background: #dfdfdf;
    position: relative;
    top: 757px;
    background: #dfdfdf;
    z-index: 1;
/*Causes the gray half circle to overlap the blue div and be the primary object*/
}

div#home {
/*This is the blue text area.*/
    position: relative;
    top: 663px;
    clear: right;
    background: #4D71A3;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 20px;
}

div#hometext {
/*Creates the margin on text in blue div.*/
    margin-left: 36px;
    margin-right: 36px;
}

#bluehalf {
/*The curved edge on the blue div.*/
    height: 45px;
    border-radius: 0 0 90px 90px;
    -moz-border-radius: 0 0 90px 90px;
/*Vendor extension-even when validating do not delete*/
    -webkit-border-radius: 0 0 90px 90px;
/*Vendor extension-even when validating do not delete*/
    background: #4D71A3;
    position: relative;
    top: 655px;
    z-index: 1;
/*Causes the blue curves to overlap any elements not labeled with a z-index.*/
}

#indexcert {
/*this is the paragraph that discusses quality and environmental*/
    position: relative;
    top: 1300px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;
    margin-right: 72px;
}

#indexcert2 {
/*adds the margin on indexcert text*/
    margin-left: 72px;
    margin-left: 72px;
}
div#indeximg {
/*centers image of factory*/
    width: 95%;
    margin: 0 auto;
    height: 400px;
}
#fullfactory {
/*positions and sizes the picture of the factory*/
    top: 650px;
    position: relative;
    max-height: 400px;
    max-width: 95%;
    border: 5px solid#BF0000;
    border-radius: 50px;
}

#blurb {
/*the paragraph talking about where DPC is and has been*/
    top: 100px;
    position: relative;
    text-align: center;
}

#indexfooter {
/*positions the footer on the home page so there is less white space*/
    margin-top: 800px;
}

/*End of styles for index.html*/
/*Beginning of Styles for packaging.html*/
#onecol {
/*positions the first column of text*/
    margin-left: 5%;
    width: 500px;
    position: relative;
    top: 125px;
}

.mainwrapper
	{display: inline;
    text-align: center;
    vertical-align: middle;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    width: 40%;}
	
	.subwrapper
	{display: table;
    width: 50%;
    height: auto;
    float: right;}
	
	.picture
	{width: 150px;
    height: 150px;
    border: 3px solid #A30000;
    margin: 5em;
    float: left;
    vertical-align: middle;
    display: table-cell;}
	
	.packagetext
	{display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    top: 50%;
    height: 275px;
    padding-right: 3em;}
	
	.title
	{font-weight: bold;
    font: Verdana, Geneva, sans-serif;
    color: #0053ad;
    text-align: center;
    font-size: 24pt;
    text-decoration: underline;}
    
    #packfooter {text-align: center;
	    background-color: #036;
	    color: #E8E8E8;
	    padding-top: 3px;
	    padding-bottom: 3px;
	    margin-top: 60%;
	}

div#bnft {
/*stylizes the container for the large bulleted list*/
    border: solid;
    padding: 1.5%;
    border-color: #900;
    border-style: double;
}

#paquete li {
/*makes the font bigger in the list*/
    padding: 1em 0;
    font-weight: 700;
    font-size: 18px;
}

#pqt {
/*adds space between the list border and the text*/
    padding-top: 10%;
}

#twocol {
/*positions the second column of an image and a caption*/
    padding-right: 15%;
    position: relative;
    left: 700px;
    bottom: 450px;
}

#pck {
/*Sizes the collage of packaging items. Collage made in Photoshop, to change images in collage, download image and rasterize, then edit.*/
    width: 500px;
    height: 350px;
}

div#p {
/*The caption for the image*/
    font-style: italic;
    margin-top: 70px;
}

div#new {
/*The text under the two columns. */
    position: relative;
    bottom: 300px;
    margin-left: 36px;
    margin-right: 36px;
    text-align: center;
    font-size: 20px;
}

/*end of packaging.html styles*/
/*Beginning of automotive.html styles*/
#autoimage {
/*Positions the automotive collage.*/
    position: relative;
    top: 150px;
    left: 75px;
    
}

#autoimagee {
/*Sets the width of the automotive collage*/
    width: 50%;
}

#autoh {
/*Blue header on the list*/
    float: right;
    max-width: 350px;
    position: relative;
    bottom: 330px;
    right: 135px;
}

#auto2 {
/*Container for the unordered list*/
    float: right;
    max-width: 450px;
    position: relative;
    left: 300px;
    bottom: 250px;
    font-size: 16px;
}

li.autolist {
/*Sets the spacing between list items*/
    margin-top: 15px;
    margin-bottom: 15px;
}
#auto { /*List of applications**/
    font-style: italic;
    float: right;
    position: relative;
    bottom: 200px;
    width: 40%;
    max-width: 500px;
    left: 50px;
}

/* End of automotive.html styles */
/* Beginning of ccomp.html styles */
#ccompimage { /* The image on construction comp. */
    clear: right;
    padding-left: 5%;
}

#ccompcontent { /* All content in ccomp.html */
    margin: 70px;
    padding-top: 30px;
    padding-bottom: 0;
    max-height: 70%;
}

/* End of  ccomp.html */
/* Beginning of oems.html styles */
.oems { /* The first sentence in OEMS. */
    position: relative;
    top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}
/* sentence before list */
#oemman {
	position: relative;
	padding-top: 10%;
	max-width: 40%;
	margin-left: 11%;
	margin-right: 11%;
}
/* list of companies */
#oemlist {
	margin-left: 15%;
	padding: 3px;
	line-height: 1.5;
}
/* picture of company logos */
#oemcars {
	position:relative;
	bottom: 330px;
	left: 55%;
}
/* footer on oem page */
footer#oemfooter{
	margin-top: -20%;
}
/* End of oems.html styles */
/* Beginning of materials.html styles */
h2.odd {
/* There was a weird h2 style. This fixes it by placing it closer to the top. */
    top: -40px;
}

div#mats {
/*This contains all the information on the page. */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10%;
}

.materials {
/* This is the div for individual materials. */
    padding-bottom: 1%;
    padding-top
}

div#ecp {
/* This is the last div on the page, so space is added to make it seem more natural. */
    padding-bottom: 3%;
}

/*End of materials.html styles */
/* Beginning of quality.html styles */
.qpic {
/*Positions the image of the certifications. This applies to environmental.html as well. */
    padding-top: 7%;
    max-height: 1300px;
    max-width: 800px;
    padding-left: 1%;
}

h3#policy {
/*The blue heading*/
/*Also applies to environmental.html */
    position: relative;
    top: -500px;
    left: 900px;
}

#qualpolicy {
/*The Quality Policy*/
    padding-left: 150px;
    position: relative;
    top: -475px;
    max-width: 300px;
    left: 720px;
    color: #2E2E2E;
    text-align: center;
}

/* End of quality.html styles */
/* Beginning of environmental.html styles */
.earth {
/*The Environmental Policy*/
    padding-left: 17%;
    position: relative;
    top: -480px;
    max-width: 300px;
    left: 700px;
    color: #2E2E2E;
}

.earth::first-letter {
/*Makes the first letter of the Environmental Policy different*/
    font-size: 20px;
    color: #900;
}

/* End of environmental.html styles */
/* Beginning of about.html styles */
#content {
/*Contains all the content in this page*/
    position: relative;
    top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 150px;
    max-height: 80%;
}

#mission {
/*This is the header for "Our Mission Statement*/
    color: #0053A0;
    font-weight: 700;
    text-align: center;
}

#mission2 {
/*This is the actual mission.*/
    color: #0053A0;
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
    max-height: 40%;
}

div#about2 {
/*This is the section with the gray background. */
    text-align: center;
    background: #d7d7d7;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 30px;
    max-height: 30%;
}

#staff {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 10%;
}

/* End of styles for about.html */
/* Beginning of styles for contact.html */
iframe#google {
    height: 450px;
/*This sizes the google map.*/
}

#map {
/*This positions the google map in the site. */
    top: 100px;
    left: 50px;
    position: relative;
    width: 600px;
    float: left;
    height: 450px;
}
#form {
	/*This positions the form inside the site. */
    position: relative;
    left: -100px;
    float: right;
    top: 50px;
    max-height: 600px;
    right: 50px;
}

div#contact {
/*This is the gray div containing contact info for DPC.*/
    position: relative;
    top: 630px;
    background-color: #E8E8E8;
    padding-bottom: 40px;
}

h2#info {
/*This is the header for the gray div.*/
    font-size: 26px;
    text-align: left;
    position: relative;
    top: 10px;
    left: -65px;
}

p.info {
/* The paragraphs inside the contact info box. */
    position: relative;
    left: -45px;
    font-size: 15px;
}

footer.leftcon {
/* Helps keep the footer where it should be. */
    clear: left;
    margin-top: 50%;
}

/* End of contact.html styles */
/* Beginning of docform.html styles */
/* End of docform.html styles */
/* Beginning of under construction styles */
.uc {
    position: relative;
    width: 100%;
    text-align: center;
    top: 100px;
}

footer#undercons {
    margin-top: 100%;
}

/* placeholder for empty/ nearly empty pages so footer will be pushed to bottom */
.ok {
    height: 1000px;
}

/* End of under construction styles */
#main {
    background-color: #FFF;
    margin-right: 10px;
    margin-left: 10px;
    background-position: center center;
}
#acrostic2 { 600px; }


#aboutinfo {max-height: 80%;}
 
 /*first paragraph in Construction Comp */
 #ccomp1 {max-width: 60%; padding-bottom: 7%; line-height: 1.5;}
 /*second paragraph in Construction Comp */
 #ccomp2 {max-width: 60%; line-height: 1.5;}
