<!DOCTYPE html>
<head>
<meta charset=utf-8">
<title>Diversified Plastics Company</title>
<link type="text/css" rel="stylesheet" href="css/styles.css" media="screen">
</head>
<body>
  <div id="logo">
    <img src="images/logo.png" alt="logo" id="logo">
  </div>
    <p id="title"> Diversified Plastics Company </p>
  <div class="nav">
    <ul>
    <li>
      <a href="index.html">Home </a>
    </li>
    <li>
        <a href="product.html">Product</a>
        <ul class="drpdwn">
            <li><a href="automotive.html">Automotive</a></li>
            <li><a href="packaging.html">Packaging</a></li>
            <li><a href="ccomp.html">Construction Comp</a></li>
            <li><a href="oems.html">OEMS</a></li>
        </ul>
    </li>
    <div id="slideshow">
   <div>
     <img src="//farm6.static.flickr.com/5224/5658667829_2bb7d42a9c_m.jpg">
   </div>
   <div>
     <img src="//<img src="../../Diversified Plastics/Picture1.jpg" width="1420" height="820" longdesc="../../Diversified Plastics/Picture1.jpg">">
   </div>
   <div>
    DPC Products Slideshow
   </div>
</div>
    
    
    <li>
      <a href="materials.html">Materials</a>
    </li>
    <li>
        <a href="certifications.html">Certifications</a>
          <ul class="drpdwn">
             <li><a href="quality.html">Quality</a></li>
             <li><a href="environmental.html">Environmental</a></li>
          </ul>
       
    </li>
    <li>
      <a href="about.html">About Us</a>
    </li>
    <li>
      <a href="contact.html">Contact Us</a>
    </li>
</ul>
</body>
</html>
